.main-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.nav-window{
    width: 25vw;
    height: 80vh;
}

.icon-window{
    width: 25vw;
    height: 20vh;
    margin-top: 80vh;
}

.title-window{
    width: 75vw;
    height:12vh;
    margin-left: 25vw;


}

.content-window{
    width: 75vw;
    height: 88vh;
    margin-left: 25vw;
    margin-top:12vh;
}

ul{
    list-style-type: none;
    padding: 0px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;

}

li{
    
    padding-top: 26px;
    color: white !important;
}
@media screen and (max-width:800px) {
    ul{
        list-style-type: none;
        padding: 0px;
        font-size: 10px;
 
    
    }
}
