.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.skills-div {
  display: flex;
  flex-direction: column;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 30vw;
  height: 40vh;
}

.grid-title {
  text-align: center;
  margin: 10px;
  padding: 8px;
}

.skill-icon {
  width: 7vw;
  height: 7vw;
  margin: 10px;
}

.details-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 35vw;
  height: 40vh;
}

.details-header {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: flex-start;
  align-items: center;
}
.header-skill-icon {
  width: 100px;
  height: 100px;
}

.header-text {
  text-align: left;
  padding-left: 12px;
}

@media screen and (max-width: 640px) {
  .skills-container {
    flex-direction: column;

    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .skills-grid {
    width: 100%;
    margin-bottom: 100px;
  }
  .details-header {
    font-size: 14px;

    margin-top: 20px;
    width: 50%;
  }
  .skill-icon {
    width: 85px;
    height: 85px;
  }

  .header-skill-icon {
    width: 70px;
    height: 70px;
  }

  .details-div {
    width: 80vw;
    height: 50px;
    margin-bottom: 100px;
    justify-content: flex-start;
  }
}
