.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.skills-div {
    width: 30vw;
  margin-top: 60px;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 20px;
}

.skill-icon {
  width: 85px;
  height: 85px;
  margin: 10px;
}

.details-box {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 30vw;
  height: 45vh;
  text-align: left;
  max-width: 40%;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
}

.details-header {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: center;
}

.header-text {
  text-align: left;
  padding-left: 12px;
}

@media screen and (max-width: 640px) {
    .container {

        flex-direction: column;
        overflow: scroll;
      }
      
}