.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.skills-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1vh;
  left: 1vw;
  height: 80vh;
  overflow-y: scroll;
}

.skills-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%  ;
  width: 30vw;
  height: 60vh;
}

.grid-title {
  text-align: center;
  margin: 10px;
  padding: 8px;
}

.skill-icon {
  width: 5vw;
  height: 5vw;
  margin: 1vh;
  background-image: var(--skill-frame);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5vw 5vw;
}

.skill-icon img {
  width: 90%;
}
.details-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 32vw;
  overflow: hidden;
}

.details-header {
  display: flex;
  flex-direction: column;
  font-size: 3vh;
  height: 36vh;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
  text-align: center;
  background-color: "#a8a9ad" !important;

  filter: brightness(80%);
}
.header-skill-icon {
  width: 18vh;
  height: 20vh;
}

.header-text {
  text-align: center;
}

/* @media screen and (max-width: 640px) {
  .skills-container {
    flex-direction: column;

    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .skills-grid {
    width: 100%;
    margin-bottom: 100px;
  }
  .details-header {
    font-size: 14px;

    margin-top: 20px;
    width: 50%;
  }
  .skill-icon {
    width: 85px;
    height: 85px;
  }

  .header-skill-icon {
    width: 70px;
    height: 70px;
  }

  .details-div {
    width: 80vw;
    height: 50px;
    margin-bottom: 100px;
    justify-content: flex-start;
  }
}
 */

@media screen and (max-width: 800px) {

  .skills-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
    height: fit-content;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .skill-icon {
    width: 9vw;
    height: 9vw;
    margin: 8px;
    background-image: var(--skill-frame);

    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 9vw 9vw;
  }

}
@media screen and (max-width: 640px) {

  .skills-grid {

    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;



  }

  .skills-div {


    height: fit-content;
    width: 100%;

  }

  .skill-icon {
  width: 80px;
  height: 80px;
  margin: 10px;
  background-image: var(--skill-frame);

  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px 80px;
  }
}