.quests-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: c;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 2vh;
}

.project-frame {
  position: absolute !important;
  width: 33vw;
  height: 42vh;
  top: 2vh;

  margin-bottom: 2vh;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin-top: 4vh;
}

.image-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.project-img {
  width: 30vw;
  height: 36vh;
  padding: 1px;
  background: #fff;
}

.buttons-div button {
  height: 12vh;
  font-size: 1px;
  width: 15vw !important;
}

.projects-list {
  position: absolute;
  top: 44vh;
  left: 2vw;
  
  

  overflow-y: scroll;
}

.projects-list select{
    width: 33vw;
    height: 36vh;

}

.right-side {
  width:37vw;
  position:absolute;
  right: 2vw;
  top: 2vh;
  height: 78vh;
  display: block;

}

@media screen and (max-width: 800px) {

  .quests-container {

    margin-bottom: 100px;
  }
  .project-frame {
    position: absolute !important;
    width: 90%;
    height: 40vh;
    top: 2vh;
    

  }
  .project-img {
    width: 100%;
    height: 33vh;
    padding: 3px;
    background: #fff;
  }
  
  .projects-list select{
    width: 95%;
    height: 36vh;

}
  .right-side {

    display: none;
  
  }
  
}