.main-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-window {
  width: 22vw;
  height: 70vh;
}

.icon-window {
  width: 22vw;
  height: 30vh;
  margin-top: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title-window {
  width: 78vw;
  height: 12vh;
  margin-left: 22vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-window {
  width: 78vw;
  height: 88vh;
  margin-left: 22vw;
  margin-top: 12vh;
}

ul {
  list-style-type: none;
  padding: 2vh;
  font-size: 2.5vh;
  display: flex;
  flex-direction: column;
}

li {
  font-size: 2vh;
  color: white;
  padding-bottom: 4vh;
}

.nav-mobile {
  display: none;
}
@media screen and (max-width: 800px) {
  ul {
    list-style-type: none;
    padding: 0px;
    font-size: 9px;
  }
  .nav-window {
    width: 25vw;
    height: 80vh;
  }

  .icon-window {
    width: 25vw;
    height: 20vh;
    margin-top: 80vh;
  }

  .title-window {
    width: 75vw;
    height: 15vh;
    margin-left: 25vw;
  }

  .content-window {
    overflow-y: scroll;
    width: 75vw;
    height: 85vh;
    margin-left: 25vw;
    margin-top: 15vh;
  }
}
.skill-icons {
  display: flex;
  padding-top: 16px;
  padding-bottom: 8px;
}

@media screen and (max-width: 640px) {
  ul {
    list-style-type: none;
    padding: 0px;
    font-size: 9px;
  }

  .content-window {
    width: 100vw;
    height: 85vh;
    margin-left: 0;
    overflow-y: auto;
    margin-top: 0vh;
  }

  .icon-window {
    display: none;
  }

  .title-window {
    width: 100vw;
    height: 15vh;
    margin-left: 0vw;
  }

  .nav-mobile {
    display: flex;
    width: 100vw;
    height: 18vh;
    margin-top: 82vh;
align-items: FL;

    padding: 0 !important;
    overflow-x: scroll;

  }

  .nav-icon {
    width: 50px;
    height: 50px;
  }
  .nav-link {
    margin-left: 5px;
  }
}

.nav-item img {
  display: none;
}
.nav-item:hover img {
  display: block;
  position: absolute;
  width: 2.5vw;
  left: 2vh;
}
