:root {
    --border-img:   url("assets/rpgui/img/ff-theme/border-image_ff.png");  
    --border-color: #fff; /* url("img/ff-theme/border-image_ff.png"); */
    --bg-color: linear-gradient(to bottom right, #466bfa, #00002b) repeat repeat;
    --progressbar-left: url("assets/rpgui/img/ff-theme/progress-bar-left-ff.png");
    --progressbar-right: url("assets/rpgui/img/ff-theme/progress-bar-right-ff.png");
    --progressbar-middle: url("assets/rpgui/img/ff-theme/progress-bar-track-ff.png");
    --avatar-full: url("assets/images/avatar/sans.png");
    --avatar-portrait: url("assets/images/avatar/avatar_portrait.png");
    --font: 'Press Start 2P', cursive;
    
  }
  
  .ff-theme {
    --border-img:   url("assets/rpgui/img/ff-theme/border-image_ff.png");  
    --border-color: #fff; /* url("img/ff-theme/border-image_ff.png"); */
    --bg-color: linear-gradient(to bottom right, #466bfa, #00002b) repeat repeat;
    --progressbar-left: url("assets/rpgui/img/ff-theme/progress-bar-left-ff.png");
    --progressbar-right: url("assets/rpgui/img/ff-theme/progress-bar-right-ff.png");
    --progressbar-middle: url("assets/rpgui/img/ff-theme/progress-bar-track-ff.png");
    --avatar-full: url("assets/images/avatar/avatar_half_res.png");
    --avatar-portrait: url("assets/images/avatar/avatar_portrait.png");
    --font: 'Press Start 2P', cursive;
    
  }
  
  .undertale-theme {
    --border-img:  none;  
    --border-color: #fff; /* url("img/ff-theme/border-image_ff.png"); */
    --bg-color: #000000;
    --progressbar-left: url("assets/rpgui/img/ff-theme/progress-bar-left-ff.png");
    --progressbar-right: url("assets/rpgui/img/ff-theme/progress-bar-right-ff.png");
    --progressbar-middle: url("assets/rpgui/img/ff-theme/progress-bar-track-ff.png");
    --avatar-full: url("assets/images/avatar/sans.png");
    --avatar-portrait: url("assets/images/avatar/avatar_portrait.png");
    --font: 'DeterminationMono';
    
  }
  
  