:root {

    --border-img:   url("assets/rpgui/img/theme-images/border-image_ff.png");
    --bg-color:linear-gradient(to bottom right, #466bfa, #00002b) repeat repeat;

    --avatar-full: url("assets/images/avatar/sans.png");
    --avatar-portrait: url("assets/images/avatar/avatar_portrait.png");


    --select-border-image: url("assets/rpgui/img/theme-images/select-border-image-ff.png");
    --select-bg-image: url("assets/rpgui/img/theme-images/select-background-image-ff.png");

    --scrollbar-button: url("assets/rpgui/img/theme-images/scrollbar-button-ff.png");
    --scrollbar-track: url("assets/rpgui/img/theme-images/scrollbar-track-ff.png");   
    --scrollbar-thumb: url("assets/rpgui/img/theme-images/slider-thumb-ff.png");
    
    --progressbar-left: url("assets/rpgui/img/theme-images/progress-bar-left-ff.png");
    --progressbar-right: url("assets/rpgui/img/theme-images/progress-bar-right-ff.png");
    --progressbar-middle: url("assets/rpgui/img/theme-images/progress-bar-track-ff.png");

    --font: 'Press Start 2P', cursive;

    --fontsize-h1: 3vh;
    --fontsize-h2: 2.5vh;
    --fontsize-h3: 2.2vh;
    --fontsize-h4: 2.0vh;
    --fontsize-p: 1.8vh;
    --fontsize-span: 1.8vh;
    --fontsize-a: 3vw;
    --fontsize-label: 1.6vh;
    --fontsize-li: 3vh;
  }
  
  .ff-theme {
    --border-img:   url("assets/rpgui/img/theme-images/border-image_ff.png");  
    --bg-color:linear-gradient(to bottom right, #466bfa, #00002b) repeat repeat;

    --avatar-full: url("assets/images/avatar/avatar_half_res.png");
    --avatar-portrait: url("assets/images/avatar/avatar_portrait.png");

    --select-border-image: url("assets/rpgui/img/theme-images/select-border-image-ff.png");
    --select-bg-image: url("assets/rpgui/img/theme-images/select-background-image-ff.png");

    --scrollbar-button: url("assets/rpgui/img/theme-images/scrollbar-button-ff.png");
    --scrollbar-track: url("assets/rpgui/img/theme-images/scrollbar-track-ff.png");   
    --scrollbar-thumb: url("assets/rpgui/img/theme-images/slider-thumb-ff.png");

    --progressbar-left: url("assets/rpgui/img/theme-images/progress-bar-left-ff.png");
    --progressbar-right: url("assets/rpgui/img/theme-images/progress-bar-right-ff.png");
    --progressbar-middle: url("assets/rpgui/img/theme-images/progress-bar-track-ff.png");

    --font: 'Press Start 2P', cursive;

    --fontsize-h1: 3vh;
    --fontsize-h2: 2.5vh;
    --fontsize-h3: 2.2vh;
    --fontsize-h4: 2.0vh;
    --fontsize-p: 1.8vh;
    --fontsize-span: 1.8vh;
    --fontsize-a: 3vh;
    --fontsize-label: 1.6vh;
    --fontsize-li: 3vh;
    
  }
  
  .undertale-theme {
    --border-img:   url("assets/rpgui/img/theme-images/border-image-undertale.png");    
    --bg-color: #000000;

    --avatar-full: url("assets/images/avatar/sans.png");
    --avatar-portrait: url("assets/images/avatar/avatar_portrait.png");

    --select-border-image: url("assets/rpgui/img/theme-images/select-border-image-undertale.png");
    --select-bg-image: url("assets/rpgui/img/theme-images/select-background-image-undertale.png");

    --scrollbar-button: url("assets/rpgui/img/theme-images/scrollbar-button-ff.png");
    --scrollbar-track: url("assets/rpgui/img/theme-images/scrollbar-track-ff.png");   
    --scrollbar-thumb: url("assets/rpgui/img/theme-images/slider-thumb-ff.png");

    --progressbar-left: url("assets/rpgui/img/theme-images/progress-bar-left-undertale.png");
    --progressbar-right: url("assets/rpgui/img/theme-images/progress-bar-right-undertale.png");
    --progressbar-middle: url("assets/rpgui/img/theme-images/progress-bar-track-undertale.png");

    --font: 'DeterminationMono';
    
    --fontsize-h1: 4vh;
    --fontsize-h2: 3.5vh;
    --fontsize-h3: 3vh;
    --fontsize-h4: 3.0vh;
    --fontsize-p: 2.8vh;
    --fontsize-span: 2.2vh;
    --fontsize-a: 5vh;
    --fontsize-label: 2.6vh;
    --fontsize-li: 4vh;
  
    
  }
  
  /*
   rpgui content p, h1-h6, a, label, 
    select.rpgui-dropdown, 
    .rpgui-list-imp

    
    
   */