.status-container{
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    
}
.status-container p{
  font-size: 2.2vh;
}
.avatar2-div{
    padding: 20px;
    margin: 0px;
    position: absolute;
    bottom: 0vh;
    left: 1vw;


    height: 75vh;
    width: 25vw;
    background-image: url('../../../assets/images/avatar/avatar_transparentbg_40ms.gif');
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.resume-container{
  width: 45vw;
  position: absolute;
  right: 2vw;

}

.resume-text{
  overflow-y: scroll;
  height: 72vh;

  width: 100%;
  margin-left: 1vw;

}

.resume-text p{
  line-height: 3vh;
  margin-bottom: 3vh;
}

.resume-text span{

  color: #aaa;
}
