.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 25vh auto;
}

/* .panel-div{
    padding: 20px;
    margin:  auto 20px;
} */

.panel-window{
    width: 25vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.avatar-div{
    padding: 20px;
    margin: 20px auto;
}

@media screen and (max-width:640px) {
    .panel-window{
        width: 70%;
        margin: auto;
        margin-left: 0;
    }

    .panel-div{
        padding: 0;
    
        display: flex;
        margin-left: 15%;
        margin-right: 25%;
    }
  }