.home-container {
  margin: 3vw;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-div {
  display: flex;

  align-items: center;
}

.panel-window {
  width: 40vw;


  position: absolute;
  
  top: 2%;

  left: 3%;
  flex-direction: column;
  z-index: 10;
  justify-content: center;
  align-items: stretch;
  font-size: 2vh;
}

.avatar-div {
  padding: 20px;
  margin: 0;
}

.avatar-img {
  position: absolute;
  bottom: 0;
  right: 2vw;
  height: 82vh;
  content: var(--avatar-full);
}

.profile-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;

}

.profile-description {
  text-align: left;


}

.profile-description ul{
 padding:  0;
 margin: 0;
   display: flex;
}

.profile-description  li{
  font-size: var(--fontsize-span);
  padding: 1vh;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;


}

.skill-icons {
  display: flex;
  padding-top: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.portrait-div {
  display: none;
}

.main-skill-icon {
  width: 8vh;
  height: 8vh;

  background-image: var(--skill-frame);

  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8vh 8vh;
}

h1,
h2 {
  margin-top: 8px;
  margin-bottom: 0px;
}

h4 {
  margin-top: 5px;
}

@media screen and (max-width: 1100px) {
  .avatar-img {
    right: 0vh;
    z-index: -100;
  }
  .panel-window {
    width: 40vw;
    height: fit-content;
    top: 0
  }

}

@media screen and (max-width: 850px) {
  .home-container {
    margin: 1vh;
    padding-bottom: 10px;
  }

  .profile-div {
    display: block;

    margin-top: 2%;

  }

  .portrait-frame{
    margin-top: 4vh;
    
    height:  100% ;
    margin-right: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .avatar-portrait {
    width: 140px;
    
    z-index: -1;



    content: var(--avatar-portrait);
  }
  .profile-div {
    margin-bottom: 2vh;
    padding: 0;
  }

  .portrait-div {
    display: flex;
    margin-top: 1vh;
    justify-content: center;
  }

  .panel-window {
    width: 100%;
    position: inherit;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
  }

  .progress-bars {
    width: 50%;

  }
}

.text-class {
  padding-top: 0;
  list-style-type: none;
  font-size: 1.5vh;
}

.text-class img{
  width: 4vh;
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .home-container{
 
    zoom: 80%;
  }
  .main-skill-icon {
    width: 8vh;
    height: 8vh;

    background-image: var(--skill-frame);
  
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8vh 8vh;
  }


  
  
}