.project-links{
  display: flex;
  justify-content: center;
  align-items: center;
}



.project-links button {
  width: 10vw;
  height: 5vh;
  margin: 1vh 2vw;
  border: 2px solid #222;
  -webkit-box-shadow: -5px 5px 1px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: -5px 5px 1px 1px rgba(0,0,0,0.5);
  box-shadow: -5px 5px 1px 1px rgba(0,0,0,0.5);
  font-family: 'Press Start 2P' !important;
}



@media screen and (max-width: 800px) {
  .project-links button {
    width: 80px;

  }
  
}
.project-links button:active{
  filter: invert(100%);
}