:root {

    --border-img:   url("assets/rpgui/img/theme-images/border-image-ff.png");
    --bg-color:linear-gradient(to bottom right, #466bfa, #00002b) repeat repeat;


    --avatar-full: url("assets/images/avatar/avatar_half_res.png");
    --avatar-portrait: url("assets/images/avatar/avatar_portrait_transparentbg_40ms.gif");


    --select-border-image: url("assets/rpgui/img/theme-images/select-border-image-ff.png");
    --select-bg-image: url("assets/rpgui/img/theme-images/select-background-image-ff.png");

    --scrollbar-button: url("assets/rpgui/img/theme-images/scrollbar-button-ff.png");
    --scrollbar-track: url("assets/rpgui/img/theme-images/scrollbar-track-ff.png");   
    --scrollbar-thumb: url("assets/rpgui/img/theme-images/slider-thumb-ff.png");
    
    --progressbar-left: url("assets/rpgui/img/theme-images/progress-bar-left-ff.png");
    --progressbar-right: url("assets/rpgui/img/theme-images/progress-bar-right-ff.png");
    --progressbar-middle: url("assets/rpgui/img/theme-images/progress-bar-track-ff.png");
    
    --card-border: url("assets/rpgui/img/theme-images/card-border-image-ff.png");
    --card-bg: url("assets/rpgui/img/theme-images/background-image-ff.png");
    --skill-frame: url('assets/rpgui/img/theme-images/empty-slot-ff.png');

    --button: url("assets/rpgui/img/theme-images/button-ff.png");
    --button-down: url("assets/rpgui/img/theme-images/button-down-ff.png");
    --button-hover: url("assets/rpgui/img/theme-images/button-hover-ff.png");
    --button-hover-alt: url("assets/rpgui/img/theme-images/button-hover-ff-alt.png");
    --inputarea-bg: #fff;
    --inputarea-border: #000
    --font: 'Press Start 2P', cursive;

    --fontsize-h1: 3vh;
    --fontsize-h2: 2.5vh;
    --fontsize-h3: 2.2vh;
    --fontsize-h4: 2.0vh;
    --fontsize-p: 1.8vh;
    --fontsize-span: 1.8vh;
    --fontsize-a: 3.2vw;
    --fontsize-form-a: 2vh;
    --fontsize-label: 1.6vh;
    --fontsize-li: 3vh;
  }
  
  .ff-theme {
    --border-img:url("assets/rpgui/img/theme-images/border-image-ff.png");  
    --bg-color:linear-gradient(to bottom right, #466bfa, #00002b) repeat repeat;

    --avatar-full: url("assets/images/avatar/avatar_half_res.png");
    --avatar-portrait: url("assets/images/avatar/avatar_portrait_transparentbg_40ms.gif");

    --select-border-image: url("assets/rpgui/img/theme-images/select-border-image-ff.png");
    --select-bg-image: url("assets/rpgui/img/theme-images/select-background-image-ff.png");

    --scrollbar-button: url("assets/rpgui/img/theme-images/scrollbar-button-ff.png");
    --scrollbar-track: url("assets/rpgui/img/theme-images/scrollbar-track-ff.png");   
    --scrollbar-thumb: url("assets/rpgui/img/theme-images/slider-thumb-ff.png");

    --progressbar-left: url("assets/rpgui/img/theme-images/progress-bar-left-ff.png");
    --progressbar-right: url("assets/rpgui/img/theme-images/progress-bar-right-ff.png");
    --progressbar-middle: url("assets/rpgui/img/theme-images/progress-bar-track-ff.png");

    --card-border: url("assets/rpgui/img/theme-images/card-border-image-ff.png");
    --card-bg: url("assets/rpgui/img/theme-images/background-image-ff.png");
    --skill-frame: url("assets/rpgui/img/theme-images/empty-slot-ff.png");

    --button: url("assets/rpgui/img/theme-images/button-ff.png");
    --button-down: url("assets/rpgui/img/theme-images/button-down-ff.png");
    --button-hover: url("assets/rpgui/img/theme-images/button-hover-ff.png");
    --button-hover-alt: url("assets/rpgui/img/theme-images/button-hover-ff-alt.png");

    --inputarea-bg: #4e4a4e;
    --inputarea-border: #fff;

    --font: 'Press Start 2P', cursive;

    --fontsize-h1: 3vh;
    --fontsize-h2: 2.5vh;
    --fontsize-h3: 2.2vh;
    --fontsize-h4: 2.0vh;
    --fontsize-p: 1.8vh;
    --fontsize-span: 1.8vh;
    --fontsize-a: 3.5vh;
    --fontsize-form-a: 2vh;
    --fontsize-label: 1.6vh;
    --fontsize-li: 3vh;
    
  }
  
  .undertale-theme {
    --border-img:   url("assets/rpgui/img/theme-images/border-image-undertale.png");    
    --bg-color: #000000;

    --avatar-full: url("assets/images/avatar/sans.png");
    --avatar-portrait: url("assets/images/avatar/avatar_portrait_transparentbg_40ms.gif");

    --select-border-image: url("assets/rpgui/img/theme-images/select-border-image-undertale.png");
    --select-bg-image: url("assets/rpgui/img/theme-images/select-background-image-undertale.png");

    --scrollbar-button: url("assets/rpgui/img/theme-images/scrollbar-button-ff.png");
    --scrollbar-track: url("assets/rpgui/img/theme-images/scrollbar-track-ff.png");   
    --scrollbar-thumb: url("assets/rpgui/img/theme-images/slider-thumb-ff.png");

    --progressbar-left: url("assets/rpgui/img/theme-images/progress-bar-left-undertale.png");
    --progressbar-right: url("assets/rpgui/img/theme-images/progress-bar-right-undertale.png");
    --progressbar-middle: url("assets/rpgui/img/theme-images/progress-bar-track-undertale.png");

    --card-border: url("assets/rpgui/img/theme-images/card-border-image-undertale.png");
    --card-bg: url("assets/rpgui/img/theme-images/background-image-undertale.png");
    --skill-frame: url('assets/rpgui/img/theme-images/empty-slot-undertale.png');

    --button: url("assets/rpgui/img/theme-images/button-undertale.png");
    --button-down: url("assets/rpgui/img/theme-images/button-down-undertale.png");
    --button-hover: url("assets/rpgui/img/theme-images/button-hover-undertale.png");
    --button-hover-alt: url("assets/rpgui/img/theme-images/button-hover-undertale-heartless.png");
    --inputarea-bg: #000;
    --inputarea-border: #fff;

    --font: 'DeterminationMono';
    
    --fontsize-h1: 4vh;
    --fontsize-h2: 3.5vh;
    --fontsize-h3: 3vh;
    --fontsize-h4: 3.0vh;
    --fontsize-p: 2.8vh;
    --fontsize-span: 2.2vh;
    --fontsize-a: 6vh;
    --fontsize-form-a: 4vh;
    --fontsize-label: 2.6vh;
    --fontsize-li: 4vh;
  
    
  }
