.details-div {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 32vw;
  overflow: hidden;
}


.details-header {
  display: flex;
  flex-direction: column;
  font-size: 3vh;
  height: fit-content;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
  text-align: center;
  background-color: "#a8a9ad" !important;

  filter: brightness(80%);
}
.header-skill-icon {
  width: 18vh;
  height: 18vh;
}

.header-text {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .details-div {
    position: absolute;
    width: 80vw;
    height: 60vh;
    margin: auto;
  }
}
