@font-face {
  font-family: "DeterminationMono"; /*Can be any text*/
  src: local("Determination"),
    url("./fonts/DeterminationMonoWebRegular-Z5oq.ttf") format("truetype");
}

@font-face {
  font-family: "DeterminationSans"; /*Can be any text*/
  src: local("Determination"),
    url("./fonts/DeterminationSansWebRegular-369X.ttf") format("truetype");
}

body {
  background-color: black;
}

.scrollable {
  overflow: none;
}
.resume-text::-webkit-scrollbar {
  width: 2vw;
}

/* Track */
.resume-text::-webkit-scrollbar-track {
  background-image: var(--scrollbar-track);
  background-size: 4vh 8vh;
  background-repeat: repeat-y; }

/* Handle */

.resume-text::-webkit-scrollbar-thumb {
  background-image: var(--scrollbar-thumb);
  background-size: 3.6vh 5vh;
  background-repeat: no-repeat; }

/* buttons */

.resume-text::-webkit-scrollbar-button {
  background-image: var(--scrollbar-button);
  background-size: 100% 100%;
  background-repeat: no-repeat; }


@media screen and (max-width: 640px) {
  .hide-mobile {
    display: none;
  }

  .scrollable {
    overflow: scroll;
  }
}
.scrollable::-webkit-scrollbar {
  width: 0vh;

}
.center-text {
  text-align: center;
}

.select-text {
  color: #fff;
  font-size: 2.3vh;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  
}

.dropdown-text {
  color: #222;
  background: #cccaba;
}

option:not(:checked) {
  color: #fff;
}

option:checked {
  color: #222;
}


