@font-face {
  font-family: "DeterminationMono"; /*Can be any text*/
  src: local("Determination"),
    url("./fonts/DeterminationMonoWebRegular-Z5oq.ttf") format("truetype");
}

@font-face {
  font-family: "DeterminationSans"; /*Can be any text*/
  src: local("Determination"),
    url("./fonts/DeterminationSansWebRegular-369X.ttf") format("truetype");
}

@font-face {
  font-family: "PressStart2P";
  font-style: normal;
  font-weight: 400;
  src: local("Press Start 2P"), local("PressStart2P-Regular"),
  url("./fonts/PressStart2P.ttf") format("truetype");
}

body {
  background-color: black;
}

/* .scrollable {
  overflow: none;

} */
.resume-text::-webkit-scrollbar,
.content-window::-webkit-scrollbar {
  width: 2vw;
}

.content-window::-webkit-scrollbar {
  width: 0vw;
}

/* Track */
.resume-text::-webkit-scrollbar-track {
  background-image: var(--scrollbar-track);
  background-size: 4vh 8vh;
  background-repeat: repeat-y;
}

/* Handle */

.resume-text::-webkit-scrollbar-thumb {
  background-image: var(--scrollbar-thumb);
  background-size: 3.6vh 100%;
  background-repeat: repeat;
}

/* buttons */

.resume-text::-webkit-scrollbar-button {
  background-image: var(--scrollbar-button);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .hide-mobile {
    display: none;
  }
  

  .resume-text::-webkit-scrollbar {
    width: 0vw;
  }

  /*   .scrollable {
    overflow-y: scroll;
  } */
}
.scrollable::-webkit-scrollbar {
  width: 0vh;
}
.center-text {
  text-align: center;
}

.select-text {
  color: #fff;
  font-size: 2.3vh;
  padding-top: 1vh;
  padding-bottom: 1vh;

  white-space: normal;
  border-bottom: 2px solid #cccaba;
}

.dropdown-text {
  color: #222;
  background: #cccaba;
}

option:not(:checked) {
  color: #222;
}

option:checked {
  color: #fff;
  background-color: #222;
}

.MuiModal-root{
  border-image: url("assets/rpgui/img/theme-images/border-image-undertale.png");      ;
}