body {

  background-color: black;

}


.scrollable{
  overflow: none;

}

@media screen and (max-width:640px) {
  .hide-mobile{
    display: none;
  }

  .scrollable{
    overflow: scroll;
  
  }
}

.center-text{
  text-align: center;
}
